/*первичный цвет текста #212121
вторичный цвет текста #757575
акцент #2196F3*/
:root {
  --primiry: #212121;
  --secondary: #757575;
  --acent: #2196f3;
  --icon-bgc: #f5f4fa;
}

body {
  background-color: white;
  color: var(--primiry);
  font-family: roboto, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
button {
  border: none;
}

h1,
h2,
h3,
p,
ul,
span {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

.logo {
  font-family: raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--primiry);
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-span {
  color: var(--acent);
}

.font-style {
  color: var(--secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.nav-menu,
.nav-contacts {
  display: flex;
}

.nav-menu {
  margin-left: 93px;
}

.nav-contacts {
  margin-left: auto;
}

.nav-menu li:not(:first-child),
.nav-contacts li:not(:first-child) {
  margin-left: 50px;
}

.nav-menu .font-style {
  color: var(--primiry);
  font-weight: 500;
  display: block;
  padding: 32px 0px;
  margin-top: 0px;
}

.nav-contacts .font-style {
  font-weight: 500;
  display: block;
  padding: 20px 0px;
  margin-top: 0px;
}

.nav-menu .font-style.current {
  color: var(--acent);
}

.nav-contacts .font-style:hover,
.nav-contacts .font-style:focus,
.nav-menu .font-style:focus,
.nav-menu .font-style:hover {
  color: var(--acent);
}

header .container {
  display: flex;
  align-items: center;
}

.headlines-style {
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  color: var(--primiry);
  letter-spacing: 0.03em;
  padding: 0px 24;
}

.header-style {
  font-size: 36px;
  font-weight: 700;
  line-height: calc(42 / 36);
  color: var(--primiry);
  text-align: center;
  margin-bottom: 50px;
}

.effective-solutions {
  text-align: center;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}
.effective-solutions .header-style {
  text-transform: uppercase;
  color: white;
  font-size: 44px;
  font-weight: 900;
  line-height: calc(60 / 44);
  margin-bottom: 30px;
}

.header-style.padding-top {
  margin-top: 0px;
}
.benefits {
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.benefits .headlines-style {
  text-transform: uppercase;
  margin-top: 0px;
}

.benefits li:not(:first-child) {
  margin-left: 30px;
}

.benefits .font-style {
  font-weight: 400;
  line-height: calc(24 / 14);
  color: var(--secondary);
}

.command {
  display: flex;
  text-align: center;
}

.command > li:not(:first-child) {
  margin-left: 30px;
}

.command .headlines-style {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(19 / 16);
  margin-top: 0px;
}

.command .font-style {
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--secondary);
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer {
  background-color: #2f303a;
}

.logo.logo-color {
  color: white;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
}

.adress .font-style {
  font-style: normal;
  color: white;
  line-height: calc(24 / 12);
  margin-top: 9px;
}

.font-style.color-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.adress .font-style:hover,
.adress .font-style:focus {
  color: var(--acent);
}

.btns {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btns li:not(:first-child) {
  margin-left: 8px;
}
.btn-style {
  background-color: var(--acent);
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
  display: inline-block;
  padding: 10px 32px;
  min-width: 73px;
  text-align: center;
}

.btns .btn-style {
  background-color: #f5f4fa;
  color: var(--primiry);
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  padding: 6px 22px;
}

.btn-style.btn-bottom {
  margin-bottom: 200px;
}

.btns .btn-style:hover,
.btns .btn-style:focus {
  background-color: var(--acent);
  color: white;
}

.items .headlines-style {
  font-size: 18px;
  font-weight: 700;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.items .font-style {
  font-size: 16px;
  line-height: calc(30 / 16);
}

.items {
  display: block;
}

.item-container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.command-list {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: white;
}

.items .item-container {
  padding-left: 24px;
  padding-right: 24px;
}

.works {
  display: flex;
  flex-wrap: wrap;
}

.works li {
  margin-left: 30px;
  margin-top: 30px;
}
.works li:nth-child(3n + 1) {
  margin-left: 0px;
}

.works li:nth-child(-n + 3) {
  margin-top: 0px;
}

.works-img {
  display: flex;
}

.works-img li:not(:first-child) {
  margin-left: 30px;
}
.container.work {
  padding-left: 0px;
  padding-right: 0px;
}

.bg-color {
  background-color: var(--icon-bgc);
}

.section.drop {
  padding-bottom: 0px;
}
/*----------------------------------------container*/
.header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

.container.section:nth-child(2) {
  padding-bottom: 0px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
